.display-cards {
  margin-top: 50px;

  &__title {
    font-weight: 700;
    font-size: 32px;
  }

  &__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 35px;
  }
}
