// fonts
$font-family: Roboto, sans-serif;

// colors
$bg-color: #ffdf8c;
$bg-color-sort: rgba(254, 93, 30, 0.05);
$btn-color: #fe5f1e;
$btn-color-categories: #f3f3f3;
$btn-color-categories-active: #282828;

// font colors
$fnt-color-primary: #282828;
$fnt-color-secondary: #7b7b7b;
$fnt-color-btn: #ffffff;
$fnt-color-disabled: #ffffff;
$fnt-color-active-btn: #fe5f1e;
